<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.recruitment.xgsResume.mapper.XgsResumeEdusMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  xgs_resume_edus 
		WHERE
			 base_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.recruitment.xgsResume.entity.XgsResumeEdus">
		SELECT * 
		FROM  xgs_resume_edus
		WHERE
			 base_id = #{mainId} 	</select>
</mapper>
